# Application mode (LOCAL, TEST, PROD, DEV)
MODE=TEST

# Service (API_V1, CLI)
SERVICE=API_V1

# Common project settings
PROJECT__NAME=app

# API settings
API__PORT=17009
API__WORKERS=1

# Database settings
DB__HOST=localhost
DB__PORT=17019
DB__USER=postgres
DB__PASSWORD=postgres
DB__NAME=postgres

# Redis settings
REDIS__HOST=localhost
REDIS__PORT=17029
REDIS__PASSWORD=redis

# Logs settings
LOGS__DIR_PATH=./logs
LOGS__MAX_LOG_FILES=10

# Security settings
SECURITY__HASH_KEY=supersecret_hash_key
SECURITY__ENCRYPT_KEY=supersecret_encrypt_key

# Proxy settings
PROXY__HOST=proxy__example__com
PROXY__PORT=1080
PROXY__USER=proxyuser
PROXY__PASSWORD=proxypass
