# Application mode (LOCAL, TEST, PROD, DEV)
CONFIG__MODE=TEST

# Common project settings
CONFIG__PROJECT__NAME=FASTAPI-APP

# API settings
CONFIG__API__PORT=17009

# Database settings
CONFIG__DB__HOST=localhost
CONFIG__DB__PORT=17019
CONFIG__DB__USER=postgres
CONFIG__DB__PASSWORD=postgres
CONFIG__DB__NAME=postgres

# Redis settings
CONFIG__REDIS__HOST=localhost
CONFIG__REDIS__PORT=17029

# Logs settings
CONFIG__LOGS__DIR_PATH=./logs
CONFIG__LOGS__MAX_LOG_FILES=10

# Security settings
CONFIG__SECURITY__HASH_KEY=supersecret_hash_key
CONFIG__SECURITY__ENCRYPT_KEY=supersecret_encrypt_key

# Proxy settings
CONFIG__PROXY__HOST=proxy.example.com
CONFIG__PROXY__PORT=1080
CONFIG__PROXY__USER=proxyuser
CONFIG__PROXY__PASSWORD=proxypass
